<div class="container">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#">Subscribe</a>
          </div>
          <div class="col-4 text-center">
            <%= link_to "Home", root_path, class:'blog-header-logo text-dark' %>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
            </a>
            <a class="btn btn-sm btn-outline-secondary" href="#">Sign up</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
        <% @topics.each do |topic| %>
          <%= link_to topic.title, topic_blogs_path(topic.title ), class:"p-2 text-muted" %>
        <% end %>
        </nav>
      </div>

      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic"><%=@blogs[1].title%></h1>
          <p class="lead my-3"><%=@blogs[1].body%></p>
          <p class="lead mb-0"><%= link_to 'Continue reading...', @blogs[1], class:"text-white font-weight-bold" %></p>
        </div>
      </div>

      <div class="row mb-2">
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-300">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-primary"><%=@blogs[2].topic.title%></strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#"><%=@blogs[2].title%></a>
              </h3>
              <div class="mb-1 text-muted"><%=@blogs[2].updated_at.to_formatted_s(:short)%></div>
              <p class="card-text mb-auto"><%=@blogs[2].body%></p>
              <%= link_to 'Continue reading', @blogs[2] %>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="http://placehold.it/200x300" alt="Card image cap">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card flex-md-row mb-4 box-shadow h-md-300">
            <div class="card-body d-flex flex-column align-items-start">
              <strong class="d-inline-block mb-2 text-success"><%=@blogs[3].topic.title%></strong>
              <h3 class="mb-0">
                <a class="text-dark" href="#"><%=@blogs[3].title%></a>
              </h3>
              <div class="mb-1 text-muted"><%=@blogs[3].updated_at.to_formatted_s(:short)%></div>
              <p class="card-text mb-auto"><%=@blogs[3].body%></p>
              <%= link_to 'Continue reading', @blogs[3] %>
            </div>
            <img class="card-img-right flex-auto d-none d-md-block" src="http://placehold.it/200x300" alt="Card image cap">
          </div>
        </div>
      </div>
    </div>