      <main role="main" class="container">
      <div class="row">
        <div class="col-md-8 blog-main">
          <h3 class="pb-3 mb-4 font-italic border-bottom">
            From the Firehose
          </h3>

          <% @blogs.each do |blog| %>

          <div class="blog-post">
            <h2 class="blog-post-title"><%=blog.title%></h2>
            <p class="blog-post-meta"><%=blog.updated_at.to_formatted_s(:long)%> by <%= link_to blog.status, blog %></p>

            <p><%=blog.body%></p>
          </div><!-- /.blog-post -->

          <%end%>

          <nav class="blog-pagination">            
            <%= paginate @blogs %>
          </nav>

        </div><!-- /.blog-main -->

        <%= render 'sidebar'%>

      </div><!-- /.row -->

    </main><!-- /.container -->
