     <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
          <p id="notice"><%= notice %></p>
          <%= link_to 'Create a new Portfolio', new_portfolio_path %>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
          <% @portfolios.each do |portfolio| %>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text"><%= portfolio.subtitle %></p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <%= link_to 'View', portfolio_show_path(portfolio), class:"btn btn-sm btn-outline-secondary" %>
                      <% if can? :edit, Portfolio %>
                          <%= link_to 'Edit', edit_portfolio_path(portfolio), class:"btn btn-sm btn-outline-secondary" %>
                      <% end %>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>  
          <% end %>
          </div>
        </div>      
    </main>