<h2>Portfolios</h2>

<p id="notice"><%= notice %></p>
<%= link_to 'Create a new Portfolio', new_portfolio_path %>
<hr/>


  <div>
    <% @portfolios.each do |portfolio| %>
      <div class="content">        
        <p><%= link_to portfolio.title, portfolio_show_path(portfolio) %></p>
        <p><%= portfolio.subtitle %></p>
        <p><%= portfolio.body %></p>
        <%= image_tag portfolio.thumb_image unless portfolio.thumb_image.nil? %>
        <% if can? :edit, Portfolio %>
          <%= link_to 'Edit', edit_portfolio_path(portfolio) %>
        <% end %>
        <% if can? :destroy, Portfolio %>
          <%= link_to 'Delete', portfolio, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <% end %>
  </div>


<br>